@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Playfair+Display');
$font-serif: 'Playfair Display',
serif;
$font-sans: 'Josefin Sans',
sans-serif;
$light:#fff;
$dark: #000;
$accent: #64609a;